server:
  port: 8081

spring:
  redis:
    host: localhost
    port: 6379
    password: 123456
    database: 0
  datasource:
    url: jdbc:mysql://localhost:3306/jiq?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&serverTimezone=Asia/Shanghai
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456zzsad

